.asteroid-main {
	display: flex;
	flex-direction: column;
	gap: 30px;
	& .top {
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: center;
		& .asteroid-name {
			font-size: 24px;
			font-weight: 700;
			text-decoration: underline;
		}
		& .danger-text {
			display: flex;
			align-items: center;
			font-size: 18px;
			& .icon {
				color: yellow;
			}
		}
		& .size-image {
			display: flex;
			gap: 10px;
			align-items: center;
		}
	}
	& .bottom {
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
		height: calc(100vh - 320px);
		overflow-y: auto;
	}
}
.asteroid-page-loading {
	position: absolute;
	left: 45%;
	top: 50%;
}
@media (min-width: 900px) {
	.asteroid-page {
		display: flex;
		justify-content: center;
		gap: 30px;
	}
	.asteroid-main {
		& .bottom {
			padding-right: 20px;
			display: grid;
			grid-template-columns: 1fr;
		}
	}
}
@media (min-width: 1100px) {
	.asteroid-page {
		justify-content: flex-end;
		margin-right: 30px;
	}
	.asteroid-main {
		& .bottom {
			grid-template-columns: 1fr 1fr;
		}
	}
}
@media (min-width: 1300px) {
	.asteroid-page {
		justify-content: center;
		margin-right: 0;
		margin-left: 160px;
	}
}
